<!-- NAVBAR -->
<nav class="navbar">
	<div class="container">
		<div class="row justify-content-between">
			<!-- ЛОГОТИП -->
			<div class="col-auto align-self-center">
				<a class="navbar-brand" href="#">FitnessTime</a>
			</div>
			<!-- ГАМБУРГЕР МОБИЛЬНОГО МЕНЮ -->
			<div class="col-auto align-self-center">
				<div class="navbar-toggle" role="button">
					<span class="navbar-toggle-item"></span>
				</div>
			</div>
			<!-- МЕНЮ -->
			<div class="col-12 col-md-auto align-self-center">
				<ul class="navbar-nav">
					<li><a href="#welcome" class="selected">НАЧАЛО</a></li>
					<li><a href="#services">УСЛУГИ</a></li>
					<li><a href="#trainers">НАША КОМАНДА</a></li>
					<li><a href="#gallery">ГАЛЛЕРЕЯ</a></li>
					<li><a href="#pricing">ОПЛАТА</a></li>
					<li><a href="#partners">ПАРТНЁРЫ</a></li>
					<li><a href="#contacts">КОНТАКТЫ</a></li>
					<!-- ПОДЧЁРКИВАНИЕ ПУНКТОВ ДЕСКТОПНОГО МЕНЮ -->
					<li class="lavalamp"></li>
				</ul>
			</div>
		</div>
	</div>
</nav>

