/* =======================================================
*
* Template Style
* sprite.scss
*
* ======================================================= */

.page__inner_wide {
	&_white {
		background: $black url("../../img/sprite/svg/coffee.svg");
	}
	&_red {
		background: $black url("../../img/sprite/png/location.png");
	}
	&_img {
		background: $black url("../../img/sprite/png/logo.png");
	}
	&_tmp {
		background: $black url("../../img/sprite/svg/tea.svg");
	}
}
